/ai/env
__pycache__/

/ai/tmp/*
!/ai/tmp/.gitkeep

/ai/models/*
!/ai/models/.gitkeep

/ai/runs/*
!/ai/runs/.gitkeep

/ai/datasets/*
!/ai/datasets/.gitkeep

/backend/model

model.tar.gz
model/

.vscode/